<?xml version="1.0" encoding="utf-8" ?> 
<Template Name="Xml file"
          Author="Jerre S."
          Version="1.0.0.0"
          Category="Misc"
          Type="File"
          Icon="page_white_code.png"
          DefaultName="XmlFile$(FileNumber).vb">
    
  <File Name="$(FileName).xml">
    <Contents Type="Text"><![CDATA[<?xml version="1.0" encoding="utf-8" ?>]]></Contents>
  </File>

</Template>